@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
        /*General styles*/
    color: #00273D;
    font-family: 'Cormorant Garamond', serif;
}

h1,
h2,
h3,
h4
{
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #00273D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

/* Logo*/
#logo {
    letter-spacing: 0.1rem;
    font-size: 180%;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 0.5rem;
    color: #00273D;
    padding: 0 10px;
}

header i {
    margin-left: 12px;
    margin-bottom: 0;
    position: fixed;
    font-size: 1.5rem;
}

/* Navigation menu */
nav {
    left: 0;
    padding: 0 1rem;
    top: 100%;
}

nav ul {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 0.1rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#menu li a {
    text-decoration: none;
    color: #00273D;
    margin-left: 10px;

}


#menu li a:hover {
    background-color: #007BA7;
    color: #ffffff;
}

header a {
    text-decoration: none;
    color: #007BA7;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/*Cover Image*/
#hero {
    background-color: #00273D;
    background-image: url("../images/hero.webp");
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#cover-text {
    background-color: rgba(0, 123, 167, .9);
    font-size: 100%;
    position: absolute;
    bottom: 80px;
    color: #FFFFFF;
    width: 100%;
    min-height: 90px;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 10px 0 0 0;
    line-height: 1.5;
}

/*Main Content*/
main {
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

/* Style the about section */
#about {
    margin: 30px auto;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

#about h3 {
    font-size: 180%;
    color: #00273D;
    margin: 10px;
}

#about #main {
    font-size: 150%;
    margin-bottom: 20px;
    padding: 0 10px;
    margin: 10px;
}

#about .mission {
    font-size: 150%;
    font-weight: bold;
    padding: 0 10px;
    margin: 10px;
}

.call-to-action {
    font-size: 180%;
    font-weight: bold;
    font-style: italic;
    color: #00273D;
    padding: 0 10px;
    margin: 10px;
}

#about i {
    font-size: 250%;
    margin-bottom: 10px;
    color: #007BA7;
}

#about p {
    font-size: 150%;
    color: #00273D;
}

/* Style the "why" section */

#whys {
    margin: 30px auto;
    width: 90%;
    line-height: 1.5;
}

#whys-3,
#whys-2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

#whys h3 {
    font-size: 180%;
    color: #00273D;
    margin: 10px 0;
    text-align: center;
}

.p-main h4 {
    font-size: 150%;
    margin-bottom: 10px;
    color: #00273D;
    text-align: center;
}

.p-main {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 20px;
    align-self: center;
}

.p-main i {
    font-size: 250%;
    margin-bottom: 10px;
    color: #007BA7;
}

.p-main p {
    font-size: 150%;
    color: #00273D;
}

/* Style speaking club section */

#speaking-club-section
{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

#speaking-club p
{ 
    font-size: 150%;
    padding: 10px;
    color: #00273D;
    text-align: center;
}

#speaking-club h3
{
    font-size: 180%;
    color: #00273D;
    margin: 10px 0;
    text-align: center;
}


/* Style slideshow */

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container img
{
    width: 100%;
    height: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #00273D;
    font-weight: bold;
    font-size: 150%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #007BA7;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #00273D;
    font-size: 120%;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Courses page*/

#courses-page
{
    background-image: url("../images/background-courses.webp");
    background-repeat: no-repeat;
    background-size: cover;
}


#levels
{
    margin: 120px 15px 5px;
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: baseline;
}


.main-courses {
    margin-right: 20px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;

}
   
#levels h3 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(0, 39, 61, 0.7);
}

/* Style the course descriptions */
#levels p {
    font-size: 130%;
    line-height: 1.5;
    color: #00273D;
    text-align: center;
    padding: 0;
    margin: 1px;
}

#levels hr {
    margin: 10px 0;
    color: #00273D;
}

/*enroll page*/
#enroll-page
{
    background-image: url("../images/background-courses.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#enroll
{
        margin-top: 75px;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        padding: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.3);
}

#enroll h2 {
    text-align: center;
    font-size: 180%;
    padding-bottom: 20px;
}


/* Style form labels and input fields */
label {
    display: block;
    margin-bottom: 5px;
    color: #00273D;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #00273D;
    border-radius: 3px;
    font-size: 100%;
    
}

/* Style radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Style the submit button */
input[type="submit"]
 {
    background-color: #00273D;
    color: #ffffff;
    font-weight: bold;
    font-size: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

/*style for button*/
.enroll-button {
    background-color: #00273D;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    margin: 0 auto;
    width: 140px;
}


.enroll-button:hover {
    background-color: #007BA7;
}

input[type="submit"]:hover {
    background-color: #007BA7;
}
/* Footer */

footer {
    background-color: #ffffff;
    color: #00273D;
    font-size: 1.3rem;
    border-top: 2px solid #00273D;
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}


#social-media ul {
    list-style-type: none;
    padding: 10px;
}

#social-media ul li {
    display: inline-block;
    margin-right: 10px;
}

#social-media a {
    color: #00273D;
    font-size: 24px;
    text-decoration: none;
}

.footer-schedule table {
    width: 100%;
}

.container .footer-schedule
{
    padding: 10px;
    text-align: left;
}

.container .footer-contacts
{
        padding: 10px;
}

.container .footer-copyright
{
        padding: 10px;
}

.social-media-copyright
{
    display: block;
}

/*Style Thank you Form*/

/* Style the whole section */
#thankyou-section {
    text-align: center;
}

#thankyou-nav {
    background-color: #ffffff;
    padding: 0 1rem;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #00273D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 15;
}

/* Style the logo */
#thankyou-section #logo {
    color: #00273D;
    margin-right: 20px;
    letter-spacing: 0.1rem;
    font-size: 180%;
    font-family: 'Cormorant Garamond', serif;
    padding: 0 10px;
}

/* Style the "Return to Home Page" link */
#thankyou-section a {
    color: #00273D;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#thankyou-section a:hover {
    background-color: #007BA7;
    color: #ffffff;
}

.thankyou
{
    margin-top: 150px;
    height: 100%;
}

/* Style the "Thank you" message */
.thankyou h2 {
    text-align: center;
    font-size: 180%;
    padding: 20px;
    margin-top: 20px;
}

/* Style the heart icon */
.thankyou i {
    color: red;
}

#thankyou-nav i {
    margin-left: 12px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

/* Style the paragraph */
.thankyou p {
    font-size: 150%;
    margin-top: 20px;
    padding: 0 10px;
    margin: 10px;
}


/*Media query:576 and down*/
@media screen and (min-width: 576px) {
 nav ul {
     font-size: 120%;
     margin-top: 5px;
     margin-right: 20px;
 }

  #logo {
      /*reduce font size for the school name*/
      font-size: 150%;
      margin-right: 20px;
  }

  

}

/*Media query:768px and up*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #thankyou-nav
    {
    flex-direction: column;
        align-items: center;
    }


    header i {
        /*remove margin from the icon*/
        margin-left: 0;
        font-size: 100%;
    }

    nav ul {
        font-size: 100%;
        margin-top: 5px;
    }

    #logo {
        font-size: 120%;
    }

        #enroll {
            max-width: 80%;
            margin: 120px auto 20px;
        }
}

/*Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {

    nav ul {
        font-size: 150%;
        padding: 0;
    }

    #logo {
        font-size: 180%;
    }
    
}

/* Responsive styles for screens 992px and down */
@media screen and (max-width: 992px) {
        #levels {
             flex-direction: column;
             margin-top: 60px;
         }

                 #whys-3,
                 #whys-2 {
                     flex-direction: column;
                 }
        
        #levels h3 {
            font-size: 120%;
        }
.container {
    flex-direction: column;
    align-items: baseline;
}
        }

/* Responsive styles for screens 1200 px and down */
@media (max-width: 1200px) {
    #levels
           {
            flex-direction: column;
            margin-top: 60px;
           }

                   #whys-3,
                   #whys-2 {
                       flex-direction: column;
                   }
}