@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #00273D;
    font-family: 'Cormorant Garamond', serif;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 10px 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #007BA7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

/* Logo*/
#logo {
    letter-spacing: 0.1rem;
    font-size: 200%;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 10px;
    color: #007BA7;
    padding: 0 10px;
}

header i {
    margin-left: 12px;
    margin-bottom: 0;
    position: fixed;
    font-size: 1.5rem;
}

/* Navigation menu */
nav ul {
    font-size: 120%;
    font-family: 'Cormorant Garamond', serif;
    list-style-type: none;
    letter-spacing: 0.1rem;
    font-weight: 700;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#menu li a {
    text-decoration: none;
    color: #007BA7;
    padding: 7px;
    margin-left: 10px;

}

#menu li a:hover {
    background-color: #00273D;
    padding: 7px;
    border-radius: 5px;
}

.active {
    background-color: #00273D;
    padding: 7px;
}

header a {
    text-decoration: none;
    color: #00273D;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}


